.icon-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;

    &:hover{
        scale: 1.2;
    }

    h4{
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid var(--fontColor);
        font-weight: 400;
    }
}