.icon-links-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media(max-width: 768px){
        column-gap: 8rem;
        row-gap: 3rem;
    }

    @media(max-width: 500px){
        column-gap: 5rem;
    }
}