.embla {
  position: relative;

  .embla__viewport{
    position: relative;
    height: 100%;
    overflow: hidden;

    .embla__container{
      display: flex;
      height: 100%;
      width: 100%;

      .embla__slide{
        position: relative;
        height: 100%;
        height: 360px;
        aspect-ratio: 1 / 1.4;
        flex: 0 0 auto;
        min-width: 0;
        margin-left: 3rem;
        border-radius: var(--borderRadius);
        overflow: hidden;
        padding: 1rem 1.5rem;

        > h2, > p{
          color: var(--lightFontColor);
          font-weight: 600;
        }

        > img{
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        > a{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 20;
          background: rgb(0, 0, 0, 0.1);
          transition: all 0.2s;

          &:hover{
            background: transparent;
          }
        }
      }
    }
  }

  .embla__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    touch-action: manipulation;
    cursor: pointer;
    width: 3.6rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 650px){
      display: none;
    }
  }

  .embla__button--next{
    right: -2em;
  }
  .embla__button--prev{
    left: -2em;
  }

  .embla__button__svg {
    width: 35%;
    height: 35%;
  }
}