.faq-ul{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    padding-bottom: 2rem;

    .faq-container{
        padding: 1rem;
        border: 1px solid var(--fontColor);
        cursor: pointer;
        border-radius: var(--borderRadius);
        transition: all 0.2s;

        &.active{
            border-left: 7px solid var(--logoColor);

            > p{
                margin-top: 1rem;
                height: auto;
                opacity: 1;
            }
        }

        &:hover{
            border-left: 7px solid var(--logoColor);
        }

        > span{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        > p{
            height: 0;
            overflow: hidden;
            transition: all 0.2s;
            opacity: 0;
        }
    }
}