:root{
  --background: white;
}

.dropdown{
  position: relative;

  button{

    .caret{
      position: relative;
      transition: all 0.2s;
      top: 0.15rem
    }
  }

  .dropdown-menu{
    position: absolute;
    left: -1em;
    flex-direction: column;
    background: var(--background);
    border: 2px solid var(--borderColor);
    margin-top: 1rem;
    padding-block: 0.5em;
    border-radius: var(--borderRadius);
  }
}