.dropdown{
  position: relative;

  button{
    color: var(--fontColor);
  }

  .dropdown-menu{
    position: absolute;
    left: -1em;
    flex-direction: column;
    background: var(--background);
    border: 2px solid var(--borderColor);
    margin-top: 1rem;
    padding-block: 0.5em;
    border-radius: var(--borderRadius);
  }
}