
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 5em;
  border-bottom: 1px solid var(--hoverColor);
  background: var(--background);

  .logo{
    font-size: 25px;

    span{
      background: var(--logoColor);
      padding: 0.1rem;
      border-radius: 5px;
    }
  }

    button{
      font-weight: 600;
    }

    ul{
      display: flex;
      align-items: center;
      gap: 4rem;

      .hanhub{
        border: 1px solid var(--fontColor);
        padding: 0.5em 1.5em;
        border-radius: var(--borderRadius);
      }
    }
}