.explore-link{
  padding: 0.5em 1em;
  white-space: nowrap;
  transition: all 0.2s;

  &:hover{
    background: var(--hoverColor);
    
  }

  > p{
    font-size: 15px;
    font-weight: 300;
    opacity: 0.8;
  }
}