.home{

    .header-container{
        height: 85vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1{
            font-size: 40px;
            font-weight: 500;
            padding-right: 1em;

            span{
                font-family: 'Domaine Display Narrow', sans-serif;
                font-style: italic;          
                font-size: 45px;           
            }
        }

        .quick-links{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;;
            margin-top: 1rem;

            a{
                padding: 0.1em 1em;
                border: 1px solid var(--fontColor);
                border-radius: 30px;
            }
        }
    }
}