.how-it-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gridContainerOne);
    padding-top: 3vw;

    > .flex-container{
        padding-block: 0 3vw;

        > .flex-container-box{
            padding-inline: 2rem;
            text-align: center;

            > h3{
                margin-block: 1rem;
            }
        }
    }
}