.how-it-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gridContainerOne);
    padding-top: 2rem;

    > .flex-container{
        padding-block: 0 3vw;

        > .flex-container-box{
            padding-inline: 2rem;
            text-align: center;
            max-width: 400px;

            @media(max-width: 987px){
                padding-block: 2rem;
            }

            > h3{
                margin-block: 1rem;
            }
        }
    }
}