.help{
    position: relative;
    height: 60vh;
    width: 100%;
    padding-inline-start: clamp(1rem, -4rem + 16vw, 5rem);
    background: var(--gridContainerThree);
    border-radius: var(--borderRadius);
    overflow: hidden;

    @media(max-width: 1024px){
        height: auto;
        padding-block: 2rem;
        text-align: center;
        padding-inline-end: clamp(1rem, -4rem + 16vw, 5rem);
    }
    
    > h1{
        font-weight: 700;
        line-height: 1.2;
        max-width: 50%;
        color: var(--lightFontColor);

        @media(max-width: 1024px){
            max-width: 100%;
            padding: 0;
        }

        & span{
            color: var(--lightFontColor);
        }
    }

    > img{
        position: absolute;
        top: 0;
        height: 100%;
        scale: 1.2;

        @media(min-width: 1800px){
            right: 0;
        }

        @media(max-width: 1800px){
            right: -10%;
        }

        @media(max-width: 1400px){
            right: -20%;
            scale: 1;
        }

        @media(max-width: 1200px){
            right: -30%;
        }

        @media(max-width: 1024px){
            display: none;
        }
    }
}