.modal-button-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 850px;
    padding-block: 2rem;

    &:has(.modal-button:hover) .modal-button:not(:hover) {
        opacity: 0.5;
        filter: grayscale(70%) blur(2px);
    }

    > .modal-button{
        position: relative;
        overflow: hidden;
        aspect-ratio: 1;
        margin: 0;
        padding: 0;
        background: none;
        transition: all 0.5s;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        &:hover{
            background: none;
            transition: all 0.5s;

            img{
                scale: 1.03;
            }
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -1;
            transition: all 0.5s;
        }

        h3{
            font-size: 22px;
            text-align: left;
            background: rgb(17, 24, 39, 0.5);
            backdrop-filter: blur(3px);
            width: 100%;
            padding-block: 0.5rem;
            padding-left: 1rem;
        }
    }
}