/* @import url(https://db.onlinewebfonts.com/c/79174e198176f8e04958195dcee95e84?family=Orion+Esperanto+Dika); */

:root{
  --fontColor: #141414;
  --hoverColor: #e3e3e3;
  --logoColor: #ff9225;
  --borderColor: #c7c7c7;
  --background: #ffffff;

  --logoFont: "Orion Esperanto Dika";
  --borderRadius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root{
    --fontColor: #f9f9f9;
    --background: #141414;
    --hoverColor: #2d2d2d;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
  color: var(--fontColor);
}

body{
  background: var(--background);
}

a{
  color: var(--fontColor);
  font-weight: 600;
}

button{
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

input{
  color: black;
  padding-left: 0.2rem;
}

img{
  object-fit: cover;
}

.login{
  position: fixed;
  top: 0;
  left: 0;
  height: 500px;
  aspect-ratio: 1;
}