@import url('https://fonts.cdnfonts.com/css/domaine-display-narrow');

:root{
  /*___STATIC___*/
  --logoColor: #ff9225;

  --lightFontColor: #f9f9f9;
  --successToast: #bfd9be;
  --errorToast: #ff9e99;
  --borderRadius: 5px;
  --buttonGreen: #1dbf73;
  --buttonHoverGreen: #189c5f;
  --buttonBackground: #808080;

  /*___FLEXIBLE___*/
  --fontColor: #141414;
  --background: #ffffff;
  --borderColor: #c7c7c7;
  --hoverColor: #c8eede;
  --gridContainerOne: #d1eae0;
  --gridContainerTwo: #e4eeea;
  --gridContainerThree: #4c1022;
}

@media (prefers-color-scheme: dark) {
  :root{
    --fontColor: #f9f9f9;
    --background: #111827;
    --borderColor: #1a253b;
    --hoverColor: #1a253b;
    --gridContainerOne: #1e2644;
    --gridContainerTwo: #746a5c;
    --gridContainerThree: #3252d3;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
  color: var(--fontColor);
  list-style: none;
}

body{
  background: var(--background);
}

a{
  color: var(--fontColor);
  font-weight: 600;
}

button{
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

label{
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0.2rem;
}

input{
  color: black;
  padding-left: 0.2rem;
  padding-block: 0.5rem;
  border: none;
  border-radius: var(--borderRadius);
}

img{
  object-fit: cover;
}

.login{
  position: fixed;
  top: 0;
  left: 0;
  height: 500px;
  aspect-ratio: 1;
}

section{
  min-height: 100vh;
  padding-top: 15vh;
  padding-inline: clamp(1rem, -4rem + 16vw, 5rem);
}

.container{
  padding: 5vw clamp(1rem, -4rem + 16vw, 5rem);
}

h1{
  font-size: clamp(1.875rem, 1.0938rem + 2.5vw, 2.5rem);
  font-weight: 500;
  padding-right: 1em;

  span{
    font-family: 'Domaine Display Narrow', sans-serif;
    font-style: italic;          
    font-size: clamp(2.1875rem, 1.4063rem + 2.5vw, 2.8125rem);      
  }
}

.green-button{
  background: var(--buttonGreen);
  color: var(--lightFontColor);
  transition: all 0.2s;

  &:hover{
    background: var(--buttonHoverGreen)
  }

  > .icon{
    fill: var(--lightFontColor);
  }
}

/* 
--brand-primary: rgb(138, 180, 248);
--brand-secondary: rgb(193, 168, 226); */