.modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  transform: translateY(100%);
  z-index: 1000;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active{
    transform: translateY(0%);
  }

  .handy-auth-container{
    height: 70vh;
    aspect-ratio: 0.75 / 1;
    background: var(--hoverColor);
    border-radius: var(--borderRadius);

    span{
        display: flex;
        margin-left: 2rem;
    }
  }
}